<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pest</title>
    <link rel="stylesheet" href="/css/pest.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/test.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/mobile480px.css">
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>

    <%- include('partials/header') %>


    <section style="background-color: aliceblue; padding: 5px 0; text-align: center; font-size: 2rem "><h1 style="display: inline-block; border-bottom: 2px solid black;" ><%= smallMenu[idMenu]._name %></h1></span></section>
  <div id="breadcrumb" style="text-align: center; padding: 10px 0;"></div>
    <div class="body-content" style="display: flex;  justify-content: center; max-width: 1200px; ">

        <!-- left menu -->
        <div class="menu-sidebar">
          <section>
            <h2>Côn trùng</h2>  
          <ul class="menus menu-1" style="color: #2be0e2; ">
            <% smallMenu.forEach(_name => { %>
             <% if (_name.id_group==1) { %>
                <li style="list-style-type: disc;" data_user_id = <%= _name.id %>><%= _name._name %></li>
             <% } %>
            <% }) %>
          </ul>
          </section>
          <section>
            <h2>Nấm</h2>
            <ul class="menus menu-2" style="color: rgb(86, 226, 43); ">
                <% smallMenu.forEach(_name => { %>
                 <% if (_name.id_group==2) { %>
                    <li style="list-style-type: disc;" data_user_id = <%= _name.id %>><%= _name._name %></li>
                 <% } %>
                <% }) %>
              </ul>
          </section>
          <section>
            <h2>Khuẩn</h2>
            <ul class="menus menu-3" style="color: rgb(201 170 51);">
                <% smallMenu.forEach(_name => { %>
                 <% if (_name.id_group==3) { %>
                    <li style="list-style-type: disc;" data_user_id = <%= _name.id %>><%= _name._name %></li>
                 <% } %>
                <% }) %>
              </ul>
          </section>
        </div>

        <!-- right content -->
        <div class="right-content">
             <%- smallMenu[idMenu].contents %>     
        </div>
    </div>
    
    <%- include('partials/footer') %>
    <script type="module" src="/js/breadcrumb.js"></script>
    <script type="module" src="/js/pest.js"></script>
    <script type="module" src="/js/script.js"></script>
</body>
</html>
