<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plants</title>
    <link rel="stylesheet" href="/css/plants.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div style="display: none;">
        <!-- <img src="./img/6771.jpg" style="width: 100%;" alt=""> -->
    </div>
    <div style="display: none;">
        <!-- <img src="./img/header.jpg" style="width: 100%;" alt=""> -->
    </div>

    <%- include('partials/header') %>

    <div style="display: flex; flex-direction: row; justify-content: center;" class="menubar">
        <% const lsMenu = [{name: 'fruit', full: 'Cây ăn trái'}, 
        {name: 'veg', full: 'Rau màu'}, 
        {name: 'lua', full: 'Cây lúa'}, 
         {name: 'other', full: 'Khác'}] %>
        <% lsMenu.forEach((ls, index) => { %>
            <div id="<%= ls.name %>" style="display: inline-block; position: relative;">
                <h3><%= ls.full %></h3>
                <ul style="display: none;">
                    <% const lsSubMenu = new Set();%>
                    <%smallMenu.filter(sm=>sm.id_plant === index+1).forEach(sm=>{ %>
                        <% lsSubMenu.add(sm); %>
                    <% }); %>
                    <% lsSubMenu.forEach(ls => { %>
                        <li data-user-id="<%= ls.id %>"><h3><%= ls.namePlant %></h3></li>
                    <% }); %>
                </ul>
            </div>
        <% }) %>
    </div>
    <div style="display: flex; flex-direction: row; width: 100%;">
        <div style="display: flex; flex-direction: column; width: 20%; padding-left: 2%; padding-right: 1%; padding-top: 1%; background-color: bisque; margin-top: 2%; margin-left: 5%;">
            <div>
                <h2>
                    <% if (smallMenu && smallMenu[idMenu]) { %>
                        <%= smallMenu[idMenu].nameGroup %>
                    <% } %>
                </h2>
            </div>
            <div style="display: flex; flex-direction: column; text-align: left;">
                <ul>
                    <% if (smallMenu && smallMenu[idMenu]) { %>
                        <% smallMenu.filter(smItem => smItem.nameGroup === smallMenu[idMenu].nameGroup).forEach(smItem => { %>
                            <li data-user-id="<%= smItem.id %>" class="clickSub"><%= smItem.namePlant %></li>
                        <% }) %>
                    <% } %>
                </ul>
            </div>
        </div>
        <div style="width: 100%; padding-left: 2%; padding-top: 1%; background-color: rgb(29, 127, 151); margin-top: 2%; margin-left: 1%; margin-right: 5%;">
            <div style="display: flex; flex-direction: row; padding: 0px;">
                <div style="width: 40%; display: flex; justify-content: center; align-items: center;">
                    <% if (smallMenu && smallMenu[idMenu]) { %>
                        <img src="<%= smallMenu[idMenu].img %>" style="width: 100%;" alt="" onerror="this.style.display= 'none'">
                    <% } %>
                </div>
                <div id="css-for-span" style="width: 60%; display: flex; flex-direction: column; text-align: left; padding-left: 5%; padding-right: 5%;">
                    <% if (smallMenu && smallMenu[idMenu]) { %>
                        <span>Giới thiệu chung:</span> <br><strong><%=smallMenu[idMenu].intro %></strong><br>
                    <% } %>
                </div>
            </div>
            <div id="css-for-span-1" style="width: 90%; display: flex; flex-direction: column; text-align: left; padding-left: 5%; padding-right: 5%;">
                <% if (smallMenu && smallMenu[idMenu]) { %>
                    <span style="font-size: 30px;">Mùa vụ:</span> <br><strong><%=smallMenu[idMenu].seasion %></strong><br>
                    <span>Sâu bệnh hại:</span> <br><strong><%=smallMenu[idMenu].pest %></strong><br>
                    <span>Nhu cầu dinh dưỡng và phân bón:</span> <br><strong><%=smallMenu[idMenu].phanbon %></strong><br>
                    <span>Xử lý ra hoa: </span><br><strong><%=smallMenu[idMenu].xulirahoa %></strong><br>
                <% } %>
            </div>
        </div>
    </div>
    <%- include('partials/relative') %>
    <%- include('partials/footer') %>
    <script type="module" src="/js/plants.js"></script>
    <script type="module" src="/js/script.js"></script>
</body>
</html>
