<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plants</title>
    
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/plants.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>


    <%- include('partials/header') %>

    
    <section class="img-under-header" style="background-image: url('/img/z.jpg');background-size: cover; background-repeat: no-repeat;background-position: center; padding: 2%; text-align: center;">
        <h1 style="display: inline-block; border-bottom: 2px solid black; font-size: 3rem; "><%= smallMenu[idMenu]._name %></h1>
        
    </section>
    <div id="breadcrumb" style="text-align: center;"></div>

    <div class="size-of-body-content" style="">

        <!-- left menu -->
        <div class="menu-sidebar" >
        <section>
            <h2>Cây rau</h2>  
        <ul class="menus menu-1" style="color: rgb(43, 189, 226); ">
            <% smallMenu.forEach(_name => { %>
            <% if (_name.id_group==1) { %>
                <li style="list-style-type: disc;" data_user_id = <%= _name.id %>><%= _name._name %></li>
            <% } %>
            <% }) %>
        </ul>
        </section>
        <section>
            <h2>Cây ăn trái</h2>
            <ul class="menus menu-2" style="color: rgb(86, 226, 43); ">
                <% smallMenu.forEach(_name => { %>
                <% if (_name.id_group==2) { %>
                    <li style="list-style-type: disc;" data_user_id = <%= _name.id %>><%= _name._name %></li>
                <% } %>
                <% }) %>
            </ul>
        </section>
        </div>

        <!-- right content -->
        <div class="right-content" >
            <%- smallMenu[idMenu].content %>     
        </div>
    </div>



    <%- include('partials/footer') %>
    <script type="module" src="/js/plants.js"></script>
    <script type="module" src="/js/breadcrumb.js"></script>
    <script type="module" src="/js/script.js"></script>
</body>
</html>
